<%- include ./common/header.ejs %>
<div id="find">
    <div class="find">
        <form action="http://localhost:4000/list/find" method="GET">
            <input type="search" name="search">
            <button type="submit">皮肤搜索</button>
        </form>
    </div>

</div>
<a href="/add" id="btn"> 上架</a>
<a href="/quit" id="btn"> 退出</a>

<div id="list">
    <table>
        <thead>
            <tr>
                <td>编号</td>
                <td>皮肤图片</td>
                <td>饰品名称</td>
                <td>描述</td>
                <td>价格</td>
                <td>上架日期</td>
                <td>操作</td>

            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<finds.length;i++){%>
            <tr>
                <td><%=i+1%></td>
                <td><img src="<%=finds[i].pic%>" alt=""></td>
                <td><%=finds[i].name%></td>
                <td><%=finds[i].description%></td>
                <td><%=finds[i].price%></td>
                <td>暂无</td>
                <td>
                    <a href="/list/update/<%=finds[i].id%>">修改</a>
                    <a href="/list/delete/<%=finds[i].id%>?img=<%=finds[i].pic%>">下架</a>
                </td>
            </tr>

            <% } %>
        </tbody>
    </table>
</div>
<%- include ./common/footer.ejs %>